/* Banner Nuevos Servicios */

.tituloNuevosServicios {
    background: linear-gradient($celeste, #c0b5da, #beb5db, #d5b1d3);
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
}

/*Banner Destinos Sugeridos*/

.tituloDestinosSugeridos {
    background: linear-gradient($celeste, #c0b5da, #beb5db, #d5b1d3);
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px;
}