.card-title {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: $celeste;
    box-shadow: 4px 2px;
}

.card-text {
    font-size: 1rem;
    text-align: justify;
}