.contenedorServicios {
    background: $celeste;
    max-width: 700px;
    width: 100%;
    padding: 10px 20px;
    text-align: justify;
    margin-top: 10px;
    display: grid;
    place-items: center;
    margin: auto;
}

.parrafoServicioMascotas {

    font-size: 1rem;
    text-align: justify;
    font-weight: bolder;
}