.contenedorServicios {
    background: #b7cee6;
    max-width: 700px;
    width: 100%;
    padding: 10px 20px;
    text-align: justify;
    margin-top: 10px;
    display: grid;
    place-items: center;
    margin: auto;
}